.about {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-container {
  max-width: 1400px;
  padding: 0 140px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 120px;
}

/* LEFT */
.about-title {
  font-size: 64px;
  font-weight: 500;
  color: #005461;
  margin-bottom: 48px;
}

.about-subtitle {
  font-size: 48px;
  font-weight: 600;
  color: #005461;
  margin-bottom: 32px;
}

.about-text {
  font-size: 22px;
  line-height: 1.6;
  color: #005461;
  max-width: 520px;
}

/* RIGHT */
.about-line {
  height: 2px;
  width: 100%;
  background-color: #005461;
  margin-bottom: 40px;
}

.about-image {
  width: 100%;
  max-width: 520px;
  margin-bottom: 48px;
}

.about-why {
  font-size: 48px;
  font-weight: 600;
  color: #005461;
  margin-bottom: 24px;
}

.about-list {
  list-style: disc;
  padding-left: 24px;
  font-size: 22px;
  line-height: 1.7;
  color: #005461;
}

/* BUTTONS */
.about-buttons {
  max-width: 1400px;
  padding: 60px 140px 0;
  /* margin: 0 auto; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-btn {
  background: transparent;
  border: 2px solid #005461;
  border-radius: 999px;
  padding: 18px 48px;
  font-size: 18px;
  color: #005461;
  cursor: pointer;
  transition: all 0.25s ease;
}

.about-btn:hover {
  background-color: #005461;
  color: #ffffff;
}
