.beam {
  height: 100vh;
  background-color: #cffaf4;
  display: flex;
  align-items: center;
}

.beam-container {
  max-width: 1400px;
  padding: 0 140px;
  width: 100%;
}

/* TITLE */
.beam-title {
  font-size: 56px;
  font-weight: 500;
  color: #005461;
  line-height: 1.2;
  margin-bottom: 64px;
}

/* LIST */
.beam-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.beam-item {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}

.beam-item span {
  font-size: 40px;
  font-weight: 600;
  color: #018790;
  min-width: 60px;
}

.beam-item p {
  font-size: 22px;
  line-height: 1.6;
  color: #005461;
  max-width: 900px;
}

.beam-item p strong {
  font-weight: 600;
}

/* BUTTONS */
.beam-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.beam-btn {
  background: transparent;
  border: 2px solid #005461;
  border-radius: 999px;
  padding: 18px 44px;
  font-size: 18px;
  color: #005461;
  cursor: pointer;
  transition: all 0.25s ease;
}

.beam-btn:hover {
  background-color: #005461;
  color: #cffaf4;
}
